*{
    margin: 0;
    border: border-box;
}
.navigation-bar{
    display: flex;
    background-color:white ;
    height: 46px;
    padding: 15px;
    margin-left: 3%;
}
.logo{
    display: flex;
    margin-left: 20px;
}
.logo-image{
    height: 50px;
    width:  50px;
    margin-left:2px ;
}
.smalltext{
    padding-left: 6px;
    font-size: 9px;
    font-weight: bold;
}
.logo-text{
    font-size: 25px;
    margin-left: 5px;
    font-weight: 520;
}
.searchbox{
    width: 68%;
    height: 100%;
    padding: 5px;
    margin-left: 35px;
}
.searchbar{
    width: 100%;
    height: 40%;
}
.searchtext{
    width: 40%;
    height: 150%;

}
.searchbutton{
    width: 7%;
    height: 180%;
    margin: -.6%;
    font-weight: 700;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.create_acc{
    margin-right: 10px;
}
.login{
    margin-right: 10px;
}
.mainpage{
    display: flex;
    padding: 2px;
    padding-right: 20%;
}
.contentcontainer{
    width: 80%;
    height: 100%;
}
.Contents{
    margin-top: 23.5%
}
.contenttxt{
    padding-top: 11.8px;
    border-bottom: 1px solid black;
}
.leftpage{
    width: 20%;
    height: 100%;
    margin-left: 5%;
}
.list{
    margin-top: 10px;
    font-size:14px;
    font: 14px sans-serif;
}
.select{
    border: none;
    rotate:  -90deg;
    margin-left: -8px;
}
.centrepage{
    width: 80%;
    Margin-left: 40px;
}
.hidebutton{
    background-color: #f8f9fa;
    border:none;
    margin-left: 10px;
}
.freespace{
    height: 20px;
}
.freespace2{
    width: 20%;
    height: 100%;
}
.WIKI{
    display: flex;
    border-bottom: 1px solid black;
}
.wikitxt{
    font-size: 30px;
    width: 86%;
}
.languagebutton{
    background-color: white;
    border: none;
}
.lan{
    display: flex;
    font-weight: bold;
    margin-top: 10px;
}
.inner{
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    
}
.articlebox{
    width: 100%;
}
.tools{
    display: flex;
}
.tool-select{
    border: none;
}
.article_talk{
   justify-content: space-evenly;
   width: 15%;
   display: flex;
   margin-right: 60%;
}
.readview{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.articlespan{
    margin-right: 1rem;
}
.p1{
    margin-top: 5px;
}
.p{
    margin-bottom: 5px;
    display: block,flex;
}
.mainstuff{
    margin-top: 16px;
}
.wiki_img1{
    width: 20rem;
}
